# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# JavaScript files
[*.js]
indent_style = tab
indent_size = 2

# CSS files
[*.css]
indent_style = tab
indent_size = 2

# HTML files
[*.html]
indent_style = tab
indent_size = 2

# JSON files (package.json, etc.)
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Configuration files
[{.prettierrc,.eslintrc,.babelrc}]
indent_style = space
indent_size = 2

# Docker files
[Dockerfile]
indent_style = space
indent_size = 2

# PowerShell scripts
[*.ps1]
indent_style = space
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
